*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    
}

:root{
    height: 100vh;
    width: 100vw;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.overlay{
    position: absolute;
    z-index: 500;
    height: 100vh;
    width: 100vw;
    background: black;
}
  
.info_container{

    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box_info{
    z-index: 1000;
    position: relative;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 1.5rem;
    border: 3px solid rgb(8, 70, 8);
}

.box_info h1{
    margin: 0;
}

.buttons_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons_container button{
    background-color: #20b35d;
    color: #120C0B;
    margin: 1rem;
    font-size: 1.2rem;
    width: max-content;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #20b35d;
    cursor:pointer;
}

.buttons_container button:hover{
    background-color: #1dd067;
    border: 3px solid #1dd067;
}

.dialogBox, .buttons_container input{
    background: black;
    color: wheat;
    border: wheat 3px solid;
    padding: 1rem;
    text-align: justify;
    width: 30vw;
    height: fit-content;
    overflow: hidden;
}

.buttons_container input{
    padding: 0.5rem;
    width: max-content;
}

.dialogAuthor {
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline solid;
    margin: 0 0 2rem 0;
    line-height: 2rem;
}

::backdrop {
    background: black;
}

.hideCursor::backdrop{
    cursor: none;
}

.hideCursor{
    cursor: none;
}

.dialogMessage{
    margin-bottom: 2rem;
}

.dialogMessage span{
    display: inline-block;
    font-size: 1em;
}

.dialogButton{
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: bold;
    transition: all 0.5s ease;

}

.dialogButton:hover{
    background: wheat;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
}

#test{
    height: 100vh;
    width: 100vw;
}

#test img{
    filter: blur(0);
    transition: all 10s;
}

#test:hover{
    filter: blur(70px);
    transition: all 10s;
}

.newPointer{
    pointer-events: none;
    position: fixed;
}